
<ul>
  <li
    *ngFor="let route of routes"
    [routerLink]="route.path"
  >&emsp;{{route.name}}
  </li>
</ul>

<button class="color-font" mat-button>
  <a
    href="https://github.com/ch109/ng-animate-drawer-nav"
    target="_blank"
  >Source code at GitHub
  </a>
</button>

<button class="color-font" mat-button>
  <a
    href="https://www.thecodecampus.de/blog/angular-2-animate-creating-sliding-side-navigation/"
    target="_blank"
  >Our blog post
  </a>
</button>

<main class="content">
  <router-outlet></router-outlet>
</main>
