body {
  //font-family: mat-font-family($config); // TODO
  font-weight: normal;
}

h1, h2, h3, h4 {
  //font-weight: normal;
}


/*
 * NICIFY: Demo appearance
 */

body {
  margin: 0;
  width: 100%;
}
